NEXT_PUBLIC_API_URL=https://vertecx-back-c5abeza7bwcrg2hh.canadacentral-01.azurewebsites.net/
JWT_ACCESS_SECRET=super_access_secret
JWT_ACCESS_TTL=900
JWT_REFRESH_SECRET=super_refresh_secret
JWT_REFRESH_TTL=2592000
GOOGLE_PLACES_API_KEY=your_google_places_api_key
